<mat-sidenav-container class="body-container">
    <mat-sidenav #sidenav mode="side" class="sidenav">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header class="expansion-red">
                    <mat-panel-title>
                        School lists
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-panel-content">
                    <p color="primary">list</p>
                    <p color="primary">list</p>
                    <p class="add-list-icon"><mat-icon aria-hidden="false">add</mat-icon></p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Work lists
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-panel-content">
                    <p color="primary">list</p>
                    <p color="primary">list</p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Leisure/errands lists
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-panel-content">
                    <p color="primary">list</p>
                    <p color="primary">list</p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content class="body-container">
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <div>
                <a mat-button [routerLink]="'/'">Dashboard</a>
                <a mat-button [routerLink]="'/timeGraph'">Time graph</a>
                <a mat-button [routerLink]="'/login'">Login</a>
                <a mat-button [routerLink]="'/list'">Single list</a>
            </div>
        </mat-toolbar>

        <mat-drawer-container class="body-container">
            <mat-drawer-content>
                <router-outlet></router-outlet>
            </mat-drawer-content>
        </mat-drawer-container>
    </mat-sidenav-content>
</mat-sidenav-container>
