<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="expansion-red">
            <mat-panel-title>
                School lists
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="expansion-panel-content">
            <a mat-button>list</a>
            <a mat-button>list</a>
            <p>
                <a mat-button class="add-list-icon"><mat-icon aria-hidden="false">add</mat-icon></a>
            </p>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Work lists
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="expansion-panel-content">
            <a mat-button>list</a>
            <a mat-button>list</a>
            <p>
                <a mat-button class="add-list-icon"><mat-icon aria-hidden="false">add</mat-icon></a>
            </p>
        </div>
    </mat-expansion-panel>
</mat-accordion>